# Copiar a .env en la EC2 y completar. .env NO se sube a GitHub.

# Amazon RDS (MySQL): endpoint que aparece en la consola de RDS -> Connectivity
RDS_HOST=rutaexpress-db.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com
RDS_PORT=3306
RDS_USER=admin
RDS_PASSWORD=cambiar
# Una base de datos por microservicio (se crean solas al primer arranque)
CATALOG_DB_NAME=catalog_db
SHIPMENTS_DB_NAME=shipments_db

# Azure AD (App Registration)
AZURE_TENANT_ID=9a929219-a0de-43ee-8628-b1821809e400
AZURE_CLIENT_ID=c00f97ec-90e5-442b-905f-fe9641efd268

# Origen(es) del frontend, separados por coma
FRONTEND_ORIGIN=http://localhost:3000
